/*#e2eff1, #b6d5e1, #65799b, #555273*/


body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.666;
  background: #f3f3f3;
  color: #555;
}

.top {
  height: 400px;
  width: 100%;
  background-color: #65799b;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.heading {
  text-align: center;
  font-size: 2em;
  color: #2d3436;
  margin: 20px 0 30px;
}

h1 {
  font-size: 500%;
  text-align: center;
  margin-top: 4rem;
  margin: 100px 90px 50px;
  color: #fff;
  line-height: 1.2;
}

.Logo {
  background-image: url(../src/image/logo.png);
  width: 100px;
  height: 100px;
  margin: 10px 30px 10px;
}


.btn {
  background: #e2eff1;
  background-image: -webkit-linear-gradient(top, #e2eff1, #e2eff1);
  background-image: -moz-linear-gradient(top, #e2eff1, #e2eff1);
  background-image: -ms-linear-gradient(top, #e2eff1, #e2eff1);
  background-image: -o-linear-gradient(top, #e2eff1, #e2eff1);
  background-image: linear-gradient(to bottom, #e2eff1, #e2eff1);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Georgia;
  color: #7f808f;
  position: absolute;
  font-size: 20px;
  margin: 100px 90px 50px;
  padding: 100px 50px 100px 50px;
  text-decoration: none;
}

.btn:hover {
  background: #b6d5e1;
  background-image: -webkit-linear-gradient(top, #b6d5e1, #b6d5e1);
  background-image: -moz-linear-gradient(top, #b6d5e1, #b6d5e1);
  background-image: -ms-linear-gradient(top, #b6d5e1, #b6d5e1);
  background-image: -o-linear-gradient(top, #b6d5e1, #b6d5e1);
  background-image: linear-gradient(to bottom, #b6d5e1, #b6d5e1);
  text-decoration: none;
}

.button-img {
  width: 120px;
 height: 120px
}
